version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    restart: always
    environment:
      - TZ=Asia/Jakarta
    env_file: ./backend/.env
    ports:
      - "5000:5000"
    networks:
      - appnet

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "5174:80"
    networks:
      - appnet

networks:
  appnet:
